In [12]:
import pandas as pd
from google.colab import files
files.upload()
home_de=pd.read_excel('HomeCredit_columns_description1.xlsx')

Saving HomeCredit_columns_description1.xlsx to HomeCredit_columns_description1 (1).xlsx

In [13]:
 print('columns數 %s' %len(home_de.columns))
print('row數 %s' %len(home_de.index))

columns數 7
row數 205

In [14]:
home_de.columns

Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special', 'Unnamed: 5',
       'Unnamed: 6'],
      dtype='object')

In [17]:
home_de.iloc[:,0:5]

     Unnamed: 0  ...                                Special
0             1  ...                                    NaN
1             2  ...                                    NaN
2             5  ...                                    NaN
3             6  ...                                    NaN
4             7  ...                                    NaN
5             8  ...                                    NaN
6             9  ...                                    NaN
7            10  ...                                    NaN
8            11  ...                                    NaN
9            12  ...                                    NaN
10           13  ...                                    NaN
11           14  ...                                    NaN
12           15  ...                                    NaN
13           16  ...                                    NaN
14           17  ...                                    NaN
15           18  ...                                    NaN
16           19  ...                            normalized
17           20  ...  time only relative to the application
18           21  ...  time only relative to the application
19           22  ...  time only relative to the application
20           23  ...  time only relative to the application
21           24  ...                                    NaN
22           25  ...                                    NaN
23           26  ...                                    NaN
24           27  ...                                    NaN
25           28  ...                                    NaN
26           29  ...                                    NaN
27           30  ...                                    NaN
28           31  ...                                    NaN
29           32  ...                                    NaN
..          ...  ...                                    ...
175         178  ...                                    NaN
176         179  ...                                    NaN
177         180  ...                                    NaN
178         181  ...                                    NaN
179         182  ...                                    NaN
180         183  ...                                    NaN
181         184  ...                                    NaN
182         185  ...                                rounded
183         186  ...                                    NaN
184         187  ...                                    NaN
185         188  ...                                    NaN
186         189  ...                             normalized
187         190  ...                             normalized
188         191  ...                             normalized
189         192  ...                                    NaN
190         193  ...                                    NaN
191         194  ...  time only relative to the application
192         195  ...                                    NaN
193         196  ...                                    NaN
194         197  ...                                    NaN
195         198  ...                                    NaN
196         199  ...                                    NaN
197         200  ...                                      1
198         215  ...                                 hashed
199         216  ...                                    NaN
200         217  ...                                    NaN
201         218  ...  time only relative to the application
202         219  ...  time only relative to the application
203         220  ...                                    NaN
204         221  ...                                    NaN

[205 rows x 5 columns]